body {
  background: #eee;
  font-family: sans-serif;
  border: 10px solid white;
  height:auto;
  width: 400px;
}

.card {
  background: #fff;

}

.title {
  background: #e3f4ff;
  display: block;
  font-size: 16px;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  padding:16px 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding:16px 8px;
  border: 9px solid white;
}

button {
  background: white;
  text-align: center;
  padding: auto;
  border:2px solid white;
}